@use '../abstracts' as *;

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  @extend %bckg-contain-center;

  &:hover {
    color: $clr-light-grayish-blue-hover;
  }

  &--theme {
    height: 1.875rem;
    width: 1.875rem;
    background-image: url(/src/assets/icon-sun.svg);
    &:hover {
      transform: scale(1.1);
    }
  }

  &--theme-light {
    background-image: url(/src/assets/icon-moon.svg);
  }

  &--submit {
    background-image: url(/src/assets/plus-solid.svg);
    height: 1.875rem;
    width: 1.875rem;
    justify-self: end;

    &:hover {
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &--remove-todo {
    background-image: url(/src/assets/icon-cross.svg);
    height: 1.25rem;
    width: 1.25rem;
    justify-self: end;

    &:hover,
    &:focus {
      mix-blend-mode: exclusion;
      opacity: 1;
    }

    @include breakpoint(medium) {
      opacity: 0;
    }
  }

  &--clear-completed {
    grid-area: btn;
    justify-self: end;
  }

  &--current {
    color: $clr-bright-blue;
  }
}
