@use '../abstracts' as *;

input[type='checkbox'] {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1.55rem;
  width: 1.55rem;
  border-radius: 50%;

  & + label {
    display: block;
    position: relative;
  }
  & + label::before {
    content: '';
    position: relative;
    display: inline-block;
    height: 1.55rem;
    width: 1.55rem;
    border-radius: 50%;
    border: solid 1px rgb(80 81 90);
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.25) 0px -2px 6px 0px inset;
  }

  &:checked + label::before {
    background-image: url(/src/assets/icon-check.svg), $clr-checked;
    @extend %bckg-center;
  }

  &:focus + label::before {
    outline: #5d9dd5 solid 1px;
    box-shadow: 0 0px 8px #5e9ed6;
  }
}
