@use '../abstracts' as *;

.checkbox {
  display: none;

  & + label {
    height: 1.55rem;
    width: 1.55rem;
    border-radius: 50%;
    border: solid 1px $clr-darker-grayish-blue;
    cursor: pointer;
  }

  &:checked + label {
    background-image: url(/src/assets/icon-check.svg), $clr-checked;
    @extend %bckg-center;
  }
}
