@use '../abstracts' as *;

.content {
  &__bottom {
    @extend %grid-center-y;
    grid-template-areas:
      'counter btn'
      'categories categories';
    row-gap: 1rem;
    padding: 1.1rem;

    @include breakpoint(medium) {
      grid-template-areas: 'counter categories btn';
    }
  }

  &__counter {
    grid-area: counter;
    width: fit-content;
  }

  &__filters {
    grid-area: categories;
    @extend %flex-row-center;
    gap: 1rem;
  }
}
