@use '../abstracts' as *;

.form {
  @extend %grid-center-y;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;

  &__text-input {
    background: $clr-dark-desaturated-blue;
    color: $clr-very-light-gray;
    border: none;
    outline: none;
    font-size: initial;
  }
}
