@use '../abstracts' as *;

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  font-family: $ff-primary;
  font-size: $fs-primary;
  color: $clr-very-dark-grayish-blue;
  letter-spacing: 0.4px;
  @include breakpoint(xlarge) {
    font-size: $fs-secondary;
  }
}
