@use '../abstracts' as *;

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: $ff-primary;
  font-size: $fs-primary;
  color: $clr-very-dark-grayish-blue;
  letter-spacing: 0.4px;
  @include breakpoint(xlarge) {
    font-size: $fs-secondary;
  }
}

.tippy-box[data-theme~='violet'] {
  background-color: #683de3;
}
.tippy-box > .tippy-arrow {
  border-color: #683de3;
  color: #683de3;
}
